.block{
	width: 1870px;
	height: 2116px;
	background: #EFEFEF;
}
.d-flex{
	display: flex;
}
.block-photo{
	width: 372px;
}
.block-op{
	width: 372px;
	background: #E7E7E7;
	border: 1px solid black;
}
.black{
	color: black;
	font-size: 23px;
}
.blue{
	color: blue;
	font-size: 23px;
}
.pustoy{
	width: 372px;
	height: 153px;
	background: #EFEFEF;
}
.buiness{
	width: 372px;
	height: 913px;
	background: #E7E7E7;
	border: 1px solid black;
}
.biograf{
	width: 1125px;
	height: 1645px;
	background: #FFFFFF;
	border: 1px solid black;
}
.biograf-text{
	font-size: 25px;
	color: #373131;
	margin-right: auto;
	margin-left: auto;
}
.pravo{
	width: 370px;
	height: 2116px;
	background: #EFEFEF;
}
.block-img{
	width: 370px;
	height: 500px;
	border: 1px solid black;
}
.kub{
	width: 1125px;
	height: 650px;
	background: red;
	border: 2px solid black;
}